.content {
    display: flex;
    justify-content: center;
    align-items: center;
    .box-hello  {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        .nihaoxiaoma {
            color: pink;
            font-size: 2rem;
            font-weight: bold;
        }
    }
    
}
